{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Series</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-3">
        <h1 class="text-center">Series Scraper-Tracker</h1>
        <h6 class="text-center">Only supports Lectortmo and Webtoon websites.</h6>

        <div class="mt-5">
            <h6>Register a series</h6>
            <form id="series-form" class="row" method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col">
                    <input type="text" class="form-control" placeholder="Series name" name="name" id="id_name">
                </div>
                <div class="col">
                    <input type="url" class="form-control" placeholder="Episode list url" name="episode_list_url" id="id_episode_list_url">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-outline-primary mb-3">Register</button>
                </div>
            </form>
        </div>

        <div class="mt-3 mb-5 table-responsive ">
            <h3>Series</h3>
            <table class="table table-striped align-middle" id="seriesList">
                <thead id="seriesHead"></thead>
                <tbody id="seriesBody" class="table-border-bottom-0"></tbody>
            </table>
        </div>

        <div class="my-5">
            <h3>Recent chapters</h3>
            <table class="table table-light table-hover align-middle" id="recentChapterList">
                <thead id="recentChapterHead"></thead>
                <tbody id="recentChapterBody" class=""></tbody>
            </table>
        </div>

        <div class="my-5">
            <h3>Unseen chapters</h3>
            <table class="table table-warning table-hover align-middle" id="UnSeenChapterList">
                <thead id="UnSeenChapterHead"></thead>
                <tbody id="UnSeenChapterBody" class=""></tbody>
            </table>
        </div>

        <div class="my-5">
            <h3>Seen chapters</h3>
            <table class="table table-info table-hover align-middle" id="seenChapterList">
                <thead id="seenChapterHead"></thead>
                <tbody id="seenChapterBody" class=""></tbody>
            </table>
        </div>

        <!--Chapters Modal -->
        <div class="modal fade" id="chapter-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true" data-bs-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p class="text-center"></p>
                        <form id="chapter-action-form" class="button-form" data-method="" method="POST" action="">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="series-id-name" class="col-form-label col-form-label-sm">Series name</label>
                                <input type="text" id="series-id-name" name="serie_id" class="form-control form-control-sm" readonly>
                            </div>
                            <div class="mb-3">
                                <label for="chapter-title" class="col-form-label-sm">Title</label>
                                <input type="text" class="form-control form-control-sm" id="chapter-title" name="title" readonly>
                            </div>
                            <div class="mb-3">
                                <label for="chapter-link" class="col-form-label-sm">Link</label>
                                <input type="url" class="form-control form-control-sm" id="chapter-link" name="link" readonly>
                            </div>
                            <div class="mb-3">
                                <label for="chapter-release-date" class="col-form-label-sm">Release date</label>
                                <input type="text" class="form-control form-control-sm" id="chapter-release-date" name="release_date" readonly>
                            </div>
                            <div class="mb-3 form-check">
                                <input class="form-check-input form-check-input-sm" type="hidden" id="chapter-is-seen" name="is_seen" value="false">
                                <label class="form-check-label-sm" for="chapter-is-seen">Was seen?</label>
                                <input class="form-check-input form-check-input-sm" type="checkbox" id="chapter-is-seen" name="is_seen">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" id="chapter-action-btn" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--Series Modal -->
        <div class="modal fade" id="series-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true" data-bs-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p class="text-center"></p>
                        <form id="series-action-form" class="button-form" data-method="" method="POST" action="">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="series-name" class="col-form-label">Name</label>
                                <input type="text" class="form-control" id="series-name" name="name">
                            </div>
                            <div class="mb-3">
                                <label for="series-url" class="col-form-label">Episode list url</label>
                                <textarea type="text" class="form-control" id="series-url" name="episode_list_url"></textarea>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" id="action-btn" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src={% static "assets/js/utils.js" %}></script>
</body>
</html>

